
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #E3E3E3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #595959;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #E3564F;
}

h1 {
	
}

h2 {
	
}

h3 {
	
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #CA4C44;
}

a:hover {
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

.container {
	width: 1000px;
	margin: 0px auto;
}

/* Header */

#header {
	width: 900px;
	height: 150px;
	margin: 0 auto;
	padding: 0px 50px;
	background: url(images/img01.jpg) no-repeat left top;
}

/* Logo */

#logo {
	float: left;
	width: 350px;
	margin: 0;
	padding: 0;
	color: #000000;
}

#logo h1, #logo p {
}

#logo h1 {
	padding: 60px 0px 0px 0px;
	letter-spacing: -2px;
	font-size: 3.8em;
	background: redc;
}

#logo p {
	margin: 0;
	padding: 0px 0 0 0px;
	letter-spacing: -1px;
	font: normal 18px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #CCCCC4;
} 

#logo p a {
	color: #CCCCC4;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #E3564F;
}

/* Splash */

#splash {
	height: 300px;
}


/* Search */

#search {
	float: right;
	width: 280px;
	height: 60px;
	padding: 20px 0px 0px 0px;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: 1px solid #DEDEDE;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#search-submit {
	width: 50px;
	height: 22px;
	border: none;
	background: #B9B9B9;
	color: #000000;
}

/* Menu */

#menu {
	float: right;
	width: 550px;
	height: 90px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 85px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	margin-right: 1px;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #7D7764;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
}

/* Page */

#page {
	width: 890px;
	margin: 0 auto;
	padding: 30px 55px;
	background: url(images/img03.jpg) repeat-y left top;
}

/* Content */

#content {
	float: left;
	width: 860px;
	padding: 0px 0px 0px 0px;
}

.post {
	overflow: hidden;
	margin-bottom: 40px;
	border-bottom: 1px dotted #E7E2DC;
}

.post .title {
	height: 41px;
	padding: 7px 0px 0px 0px;
	letter-spacing: -1px;
}

.post .title a {
	border: none;
	color: #7D7764;
}

.post .meta {
	margin-bottom: 30px;
	padding: 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	margin-bottom: 30px;
}

.more {
	display: block;
	float: left;
	width: 88px;
	height: 25px;
	padding: 2px 0px 0px 0px;
	margin-right: 10px;
	background: url(images/img08.jpg) no-repeat left top;
	text-align: center;
	color: #FFFFFF;
}

.comments {
	display: block;
	float: left;
	width: 88px;
	height: 25px;
	padding: 2px 0px 0px 0px;
	background: url(images/img08.jpg) no-repeat left top;
	text-align: center;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 280px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	color: #787878;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dotted #E7E2DC;
	background: url(images/img02.jpg) no-repeat left 15px;
	margin: 0px 30px;
	border-left: none;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar li li a {
	padding: 0px 0px 0px 15px;
}

#sidebar h2 {
	height: 38px;
	padding-left: 30px;
	letter-spacing: -.5px;
	font-size: 1.8em;
	color: #7D7764;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Three Column Footer Content */

#footer-content {
	background: url(images/img04.jpg) repeat-y left top;
	color: #BFBFBF;
}

#footer-bg {
	overflow: hidden;
	width: 890px;
	padding: 30px 55px 50px 55px;
	background: url(images/img05.jpg) no-repeat left bottom;
}

#footer-content h2 {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 26px;
	color: #FFFFFF;
}

#footer-content ul {
	margin: 0px;
	padding: 0px 0px 0px 20px;
}

#footer-content a {
	color: #447ECF;
}

#column1 {
	float: left;
	width: 290px;
	margin-right: 30px;
}

#column2 {
	float: left;
	width: 280px;
}

#column3 {
	float: right;
	width: 260px;
}

/* Footer */

#footer {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 10px;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
	color: #202020;
}

#footer a {
	color: #202020;
}

#marketing {
	overflow: hidden;
	margin-bottom: 30px;
	padding: 20px 0px 10px 0px;
	border-top: 1px solid #E3E3E3;
	border-bottom: 1px solid #E3E3E3;
}

#marketing .text1 {
	float: left;
	margin: 0px;
	padding: 0px;
	letter-spacing: -2px;
	font-size: 34px;
	color: #345E9B;
}

#marketing .text2 {
	float: right;
}

#marketing .text2 a {
	display: block;
	width: 252px;
	height: 38px;
	padding: 15px 0px 0px 0px;
	background: url(images/img07.jpg) no-repeat left top;
	letter-spacing: -2px;
	text-align: center;
	text-transform: lowercase;
	font-size: 30px;
	color: #FFFFFF;
}


/* UB styles */

/* CaTV Coloring */

.CatvGood {
    background-color: #77a809;
    color: #FFFFFF;
    text-align: center;
}

.CatvGoodLong  {
    background-color: #528009;
    color: #FFFFFF;
    text-align: center;
}


.CatvGood a {
    color: #FFFFFF;
    text-align: center;
}

.CatvBad {
    background-color: #FF0000;
    color: #ffffff;
    text-align: center;
}

.CatvBad a {
    color: #FFFFFF;
    text-align: center;
}

.CatvOnline {
    background-color: #447ECF;
    color: #FFFFFF;
    text-align: center;
}

.CatvOffline {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
}

/* glamour forms =) */

        .glamour label {	
		/* font-size: 20px; */
		color: #666; 
                padding-left: 4px;
	}
	
        .glamour { 
		float: left;
		border: 1px solid #ddd; 
		padding: 6px 6px 6px 12px; 
		background: #fff;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px; 		
		background: -webkit-gradient(linear, 0% 0%, 0% 40%, from(#EEE), to(#FFFFFF)); 
		background: -moz-linear-gradient(0% 40% 90deg,#FFF, #EEE); 
		-webkit-box-shadow:0px 0 50px #ccc;
		-moz-box-shadow:0px 0 50px #ccc; 
		box-shadow:0px 0 50px #ccc;		 		
	}	
	
	.glamour fieldset { border: none; }
	

	/*
	.glamour input, textarea { 		
		padding: 4px; 
		margin: 4px 0 20px 0; 
		background: #fff; 
		color: #555; 
		border: 1px #ddd solid;
		-webkit-box-shadow: 0px 0px 4px #aaa;
		-moz-box-shadow: 0px 0px 4px #aaa; 
		box-shadow: 0px 0px 4px #aaa;
		-webkit-transition: background 0.3s linear;							
	}
        */
	
	.glamour textarea {		
		
	}
	
	.glamour input:hover, textarea:hover { 
		background: #eee; 
	} 
        
        .glamour  legend
            {
            float: left;
            color: #000000;
           /* background: #E0E0E0; */
            border: 1px solid #C4C4C4;
            padding: 8px; 
            margin: 8px;
            width: 60%;
         } 
 .row1 {
	background-color: #BFBFBF;
	padding: 1px 1px 1px 1px;
}

.row2 {
	background-color: #CCCCC4;
	padding: 1px 1px 1px 1px;
}

.row3 {
	background-color: #ECECEC;
	padding: 1px 1px 1px 1px;
}

.row4 {
    background-color: #ECECEC;
    padding: 1px;
}

table.sortable.id tbody {
    counter-reset: sortabletablescope;
}
table.sortable.id thead tr::before {
    text-align: center;
    vertical-align: middle;
    content: "ID";
    display: table-cell;
}
table.sortable.id tbody tr::before {
    text-align: center;
    vertical-align: middle;
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
}

.delete_button {
   height: 21px;
   width: 21px;
	border: solid;
	border-width: 0px;
	background-image: url(../delete.gif);	
}


.frrow1	{ background-color: #EFEFEF; }
.frrow2	{ background-color: #DEE3E7; }
.frrow3	{ background-color: #D1D7DC; }

.row4 {
 color: Black;	
}

.paytoday {
    font-size: 120%;
    background-color: #E37E00;
    color: #EFEFEF;
    padding: 2px 2px 2px 2px;
}

.paytoday img {
    width: 16px;
}

.ubButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

.ubButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.ubButton:active {
	position:relative;
	top:1px;
}        


/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}


.siglight {
    font-size: 24px;
    font-weight:bold;

/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FFB914 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FFB914 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FFB914 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #FFFFFF), color-stop(1, #FFB914));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FFB914 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #FFB914 100%);

}

.undone,
.undone div,
.undone span {
    background-color: #f8bb00; 
    border-color: #f8bb00;
    color: #000000;           
}


.dashboard{
    width:100%;
}

.dashtask {
    float: left;
    display: block;
    padding: 10px;
    margin: 5px;
    border:solid 1px #EEE;
    border-radius:10px;
    text-align: center;
    font-size: 8pt;
    overflow: hidden;
    box-shadow: 3px 3px 4px rgba(0,0,0,0);
}

.dashtask:hover {
    -webkit-box-shadow: 3px 3px 4px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 4px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 4px rgba(50, 50, 50, 0.75);
    
}


.todaysig {
    background-color:#528009;
    color: #FFFFFF;
}

.todaysig a{
    color: #EFEFEF;
}

.ui-autocomplete {
max-height: 400px;
overflow-y: auto;
overflow-x: hidden;
}

* html .ui-autocomplete {
height: 100px;
}


/* ukv */
.floatpanels {

    padding: 10px;
    margin: 10px;
    float: left;
    width: 42%;
    border: 1px solid #999;
    background-color: white;
  
    
    -webkit-box-shadow: 0px 0px 10px #A0A0A0;
    -moz-box-shadow: 0px 0px 10px #A0A0A0;
     box-shadow: 0px 0px 10px #A0A0A0;
}

.ukvusereditform {
    padding: 10px;
    margin: 10px;
}

.floatpanelswide {

    padding: 10px;
    margin: 10px;
    float: left;
    width: 85%;
    border: 1px solid #999;
    background-color: white;
  
    
    -webkit-box-shadow: 0px 0px 10px #A0A0A0;
    -moz-box-shadow: 0px 0px 10px #A0A0A0;
     box-shadow: 0px 0px 10px #A0A0A0;
}

.ukvusereditform input[type="submit"] {
   padding: 6px;
}

.ukvbankstadup {
    background-color: #ffcccc;
}

.sigdeleteduser {
    background-color: #000000;
    color: #FFFFFF;
}

.sigcemeteryuser {
    background-color: #444444;
    color: #FFFFFF;
}


/* Alerts */

.alert_info {
display: block;
width: 95%;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #B5E5EF url(../icn_alert_info.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #77BACE;
color: #082B33;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;}

.alert_warning {
display: block;
width: 95%;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #F5F3BA url(../icn_alert_warning.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #C7A20D;
color: #796616;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;}

.alert_error {
display: block;
width: 95%;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #F3D9D9 url(../icn_alert_error.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #D20009;
color: #7B040F;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;}

.alert_success {
display: block;
width: 95%;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #E2F6C5 url(../icn_alert_success.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #79C20D;
color: #32510F;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;}

.notificationArea {
    position: absolute;
    float:right;
    top: 5px;
    right: 10px;
    padding-right: 320px;
    
}

/* login form */

.ubLoginContainer {
position: absolute;
left: 50%;
top: 50%;
width:500px;
height:260px;
margin-left: -250px;
margin-top: -130px;
}

.ubLoginForm { 
    padding: 30px;
    font-size: 20px; 
    border: 1px solid #ddd; 
    width: 100%;
    background: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 		
    -webkit-box-shadow:0px 0 50px #ccc;
    -moz-box-shadow:0px 0 50px #ccc; 
    box-shadow:0px 0 50px #ccc;	
    background-image: url('../ublogin-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    }	



.ubLoginForm input, submit { 		
    padding: 4px; 
    margin: 10px;
    margin-left: 30px;
    width: 220px;
    font-size: 20px; 
    background: #fff; 
    color: #555; 
    border: 1px #ddd solid;
    -webkit-box-shadow: 0px 0px 4px #aaa;
    -moz-box-shadow: 0px 0px 4px #aaa; 
    box-shadow: 0px 0px 4px #aaa;
    -webkit-transition: background 0.3s linear;							
}


.ubLoginForm label {	
    font-size: 20px; 
    color: #666; 
    padding-left: 4px;
}


/* UBIM contactlist */

.ubimcontact {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 71px;
        width: 72px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
        color:#777777;
}
.ubimcontact:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
        text-decoration: none;
}
.ubimcontact:active {
	position:relative;
	top:1px;
}

.ubimcontact:active {
    position:relative;
    top:1px;
}

.ubimcontact:visited {
    color: #777777;
}

.ubimcontact:link {
    color: #777777;
}        


.wh_viewer td {
    padding: 4px;
}

.donetask {
    background-color: #3366cc;
    color: #ffffff;
}