option domain-name "ourisp"; 
option domain-name-servers 8.8.8.8; 
default-lease-time 3600; 
max-lease-time 43200; 
authoritative; 
ddns-update-style none; 
log-facility local7; 
one-lease-per-client true; 
deny duplicates;  


shared-network ourisp {


{SUBNETS}

}
