class "{HOSTNAME}" {
       match if binary-to-ascii (16, 8, "", option agent.remote-id) = "{REMOTEID}" and binary-to-ascii (10, 8, "", option agent.circuit-id) = "{CIRCUITID}";
       }
            
       pool {
       range {IP};
       allow members of "{HOSTNAME}";
       }

       host {HOSTNAME} {
       fixed-address {IP};
       }
