!.gitignore
!.htaccess
!/content/reports/paytest.report
!/content/reports/testme.report
!/content/users/admin
!/phpsysinfo/placeholder
/content/documents/card_print/*.jpg
/content/documents/card_print/tmp/
/content/documents/photostorage/
/content/documents/vols/
/content/documents/pod_queue
/content/documents/coa_queue
/content/logs/
/content/reports/
/content/users/
/multinet/
/phpsysinfo/
/content/*.cache.dat
/content/documents/wifi_cpe_sig_hist/
exports/*
!exports/pondata/
exports/pondata/dereg/*
exports/pondata/dist/*
exports/pondata/iface/*
exports/pondata/fdb/*
exports/pondata/macdev/*
exports/pondata/onucache/*
exports/pondata/signals/*
exports/pondata/temp/*
exports/pondata/uptime/*
exports/pondata/races/*
exports/pondata/unioperstats/*
.idea
DEMO_MODE
