html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: #080808 url(images/main-bg.png) repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #2B2B2B;
}


h1, h2, h3 {
    margin: 0;
    padding: 0;
}

p, ol, ul {
    margin-top: 0px;
}

p {
    line-height: 180%;
}

strong {
}

a {
    color: #4E4E4E;
}

a:hover {
    text-decoration: none;
}

a img {
    border: none;
    margin-right: 20px;
}

img.border {
}

img.alignleft {
    float: left;
}

img.alignright {
    float: right;
}

img.aligncenter {
    margin: 0px auto;
}

hr {
    display: none;
}

/** WRAPPER */

#wrapper {
}

.container {
    width: 1000px;
    margin: 0px auto;
}

.clearfix {
    clear: both;
}

/** HEADER */

#header {
    overflow: hidden;
    width: 900px;
    height: 150px;
    padding: 0px 50px;
    background: url(images/gradient-bg.png) no-repeat center top;
}

/** LOGO */

#logo {
    float: left;
    width: 800px;
    height: 150px;
}

#logo h1, #logo p {
    margin: 0px;
    line-height: normal;
}

#logo h1 a {
    display: block;
    line-height: 150px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.3em;
    color: #FFFFFF;

}

/** MENU */

#menu {
    float: right;
    width: 600px;
    height: 99px;
}

#menu ul {
    float: right;
    margin: 0px;
    padding: 60px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
    margin-left: 2em;
}

#menu a {
    display: block;
    padding: 10px 15px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.10em;
    font-weight: 600;
    color: #B6B6B6;
}

#menu .active a
{
    background: #0091E6;
    border-radius: 5px;
    color: #FFFFFF;
}

#menu a:hover {
    text-decoration: underline;
}

/** PAGE */

#page {
    overflow: hidden;
    width: 900px;
    padding: 70px 50px 50px 50px;
    background-color: #FFFFFF;
    border-radius: 10px 10px 0px 0px;
}

#page h2
{
    margin-bottom: 30px;
}

/** CONTENT */

#content {
    float: right;
    width: 580px;
}

#content #onecolumn
{
    padding-bottom: 30px;
    border-bottom: 1px solid #D4D4D4;
}

#content h2
{
    letter-spacing: -1px;
    font-size: 2em;
}

/** SIDEBAR */

#sidebar {
    float: left;
    width: 260px;
    padding-top: 10px;
}

#sidebar #sbox1
{
    margin-bottom: 40px;
}


#sidebar #sbox1 a
{
    display: block;
}


#sidebar #sbox2
{
    overflow: hidden;
    margin-bottom: 50px;
}

#sidebar #sbox3
{
    overflow: hidden;
}
/** BANNER */

#banner {
    overflow: hidden;
    padding: 50px 0px 0px 0px;
    background: #A11C47 url(images/banner-bg.png) repeat;
    border-radius: 10px 10px 0px 0px;
}

#banner:before
{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: url('images/gradient-bg.png') no-repeat right top;
    background-size: 100% 100%;
    top: 0px;
    right: 0px;
}


/* Footer */

#footer {
    overflow: hidden;
    width: 900px;
    padding: 70px 50px 50px 50px;
    background-color: #161616;
    border-top: 6px solid #000000;
    border-radius: 0px 0px 10px 10px;
}

#footer h2
{
    padding: 0px 0px 50px 0px;
    font-weight: 400;
    color: #D3D3D3;
}

#footer p {
    color: #4E4E4E;
}

#footer #fbox1 {
    float: left;
    width: 260px;
    margin-right: 60px;
}

#footer #fbox2 {
    float: left;
    width: 260px;
}

#footer #fbox3 {
    float: right;
    width: 260px;
}

#copyright
{
    overflow: hidden;
    width: 900px;
    padding: 50px;
}

#copyright p
{
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
}

#copyright a
{
    color: #4E4E4E;
}


ul.style1
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.style1 li
{
    padding: 10px 0px 20px 0px;
    border-top: 1px solid #242424;
}

ul.style1 a
{
    color: #4E4E4E;
}

ul.style1 .first
{
    padding-top: 0px;
    border-top: none;
}

ul.style2
{
    margin: 30px 0px 0px 0px;
    padding: 0px;
    list-style: none;
}

ul.style2 li
{
    float: left;
    margin-right: 10px;
}

ul.style3
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.style3 li
{
    padding: 10px 0px 20px 0px;
    border-top: 1px solid #E0E0E0;

}

ul.style3 li:hover {
    background-color: #eeeeee;
}


ul.style3 a
{
    color: #4E4E4E;
    text-decoration: none;
}

ul.style3 .first
{
    padding-top: 0px;
    border-top: none;
}
/** Slider */

#slider
{
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

#slider .button
{
    display: inline-block;
    background: #0074C6;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    height: 50px;
    text-decoration: none;
    outline: 0;
    border-radius: 8px;
    font-size: 1.25em;
    border-bottom: solid 2px #0054A6;
    text-shadow: 0 1px 1px #003A6C;
}

#slider .button:hover
{
    background: #2094E6;
}

#slider .viewer
{
    width: 900px;
    height: 400px;
    margin: 0 auto 50px auto;
    overflow: hidden;
}

#slider .viewer .reel
{
    display: none;
}

#slider .viewer .reel .slide
{
    position: relative;
    width: 900px;
    height: 500px;
}

#slider .viewer .reel h2
{
    position: absolute;
    top: 230px;
    left: 0;
    padding: 0px 30px;
    line-height: 80px;
    background: #111111;
    text-align: center;
    opacity: 0.75;
    font-weight: normal;
    font-family: 'Archivo Narrow', sans-serif;
    color: #ffffff;
    font-size: 4.50em;
}

#slider .viewer .reel p
{
    position: absolute;
    top: 310px;
    left: 0;
    display: block;
    padding: 5px 35px;
    background: #0074C6;
    text-align: center;
    opacity: 0.75;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: normal;
    color: #ffffff;
    font-size: 2.00em;
}

#slider .indicator
{
    padding: 30px 0px;
    background-color: #7A0C30;
    margin: 0 auto 0 auto;
}

#slider .indicator ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#slider .indicator ul li
{
    display: inline-block;
    width: 12px;
    height: 12px;
    text-indent: -9999em;
    background: #970D39;
    margin: 0 2px 0 2px;
    border-radius: 8px;
}

#slider .indicator ul li.active
{
    background: #C4164E;
}

#two-column
{
    padding-top: 50px;
}

.box-content
{
    overflow: hidden;
    margin-bottom: 4em;
}

.box-content p
{
    padding-left: 60px;
}

.title
{
    display: block;
    padding-left: 60px;
    padding-bottom: 1em;
    font-size: 1.70em !important;
    font-weight: 600;
    color: #333333;
}

.title01
{
    background: url(images/icon01.png) no-repeat left top;
}

.title02
{
    background: url(images/icon02.png) no-repeat left top;
}

/* List Style 1 */

.list-style1 {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.list-style1 li {
    padding: 20px 0px 20px 0px;
    border-top: 1px solid #D4D4D4;
}

.list-style1 .date {
    font-weight: bold;
    color: #212121;
}

.list-style1 img {
    float: left;
    margin-right: 25px;
}

.list-style1 .first {
    padding-top: 0px;
    border-top: none;
}

/* List Style 1 */

.link-style {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 15px;
    background: #0091E6;
    border-radius: 5px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}




.testimonial
{
    font-style: italic;
    color: #878787;
}

.author
{
    padding-top: 20px;
    font-style: italic;
}

.author .name
{
    display: block;
    padding: 5px 0px;
    font-size: 1.2em;
    font-weight: 700;
    font-style: normal;
}

.author .position
{
    display: block;
    padding: 5px 0px;
}

.author img
{
    float: left;
    margin-right: 30px;
    border-radius: 10px;
    border: 5px solid rgba(0,0,0,.1);
}


.row1 {
    background-color: #f4f4f4;
}

.row2 {
    background-color: #fafafa;
}

.row3 {
    background-color: #fbfbfd;
}




.loginform label {	
    font-size: 20px; 
    color: #666; 
    padding-left: 4px;
}

.loginform { 

    border: 1px solid #ddd; 
    padding: 6px 6px 6px 12px; 
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 		
    background: -webkit-gradient(linear, 0% 0%, 0% 40%, from(#EEE), to(#FFFFFF)); 
    background: -moz-linear-gradient(0% 40% 90deg,#FFF, #EEE); 
    -webkit-box-shadow:0px 0 50px #ccc;
    -moz-box-shadow:0px 0 50px #ccc; 
    box-shadow:0px 0 50px #ccc;	
    background-image: url('iconz/login.gif');
    background-repeat: no-repeat;
    background-position: right;
}	

.loginform fieldset { border: none; }


.loginform input, textarea { 		
    padding: 4px; 
    margin: 4px 0 20px 0; 
    background: #fff; 
    color: #555; 
    border: 1px #ddd solid;
    -webkit-box-shadow: 0px 0px 4px #aaa;
    -moz-box-shadow: 0px 0px 4px #aaa; 
    box-shadow: 0px 0px 4px #aaa;
    -webkit-transition: background 0.3s linear;							
}


.loginform textarea {		

}

.loginform input:hover, textarea:hover { 
    background: #eee; 
} 

.loginform  legend
{
    float: left;
    color: #000000;
    border: 1px solid #C4C4C4;
    padding: 8px; 
    margin: 8px;
    width: 60%;
} 

.mgcontainer {
    height:200px; 
    width:256px; 
    border:1px #aaa solid; 
    float:left; 
    margin:5px;
    background-color: #fbf6f6;
}

.mgheader {
    height:32px; 
    width:100%;
    text-align: center;
    font-weight: bold;
    float: left;
    background-color: #fff298;
}

.mgheaderprimary {
    height:32px; 
    width:100%;
    text-align: center;
    font-weight: bold;
    float: left;
    background-color: #adc8ff;
}


.mgsubcontrol {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 20%;
}

.mgsubcontrol:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;

}


.mgunsubcontrol {
    background: #d40000;
    background-image: -webkit-linear-gradient(top, #d40000, #f76e4f);
    background-image: -moz-linear-gradient(top, #d40000, #f76e4f);
    background-image: -ms-linear-gradient(top, #d40000, #f76e4f);
    background-image: -o-linear-gradient(top, #d40000, #f76e4f);
    background-image: linear-gradient(to bottom, #d40000, #f76e4f);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 20%;
}

.mgunsubcontrol:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #d40000, #f76e4f);
    background-image: -moz-linear-gradient(top, #d40000, #f76e4f);
    background-image: -ms-linear-gradient(top, #d40000, #f76e4f);
    background-image: -o-linear-gradient(top, #d40000, #f76e4f);
    background-image: linear-gradient(to bottom, #d40000, #f76e4f);
    text-decoration: none;
}



.mgviewcontrol{
    background: #44d934;
    background-image: -webkit-linear-gradient(top, #44d934, #00943e);
    background-image: -moz-linear-gradient(top, #44d934, #00943e);
    background-image: -ms-linear-gradient(top, #44d934, #00943e);
    background-image: -o-linear-gradient(top, #44d934, #00943e);
    background-image: linear-gradient(to bottom, #44d934, #00943e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-left: 30%;
}

.mgviewcontrol:hover {
    background: #009116;
    background-image: -webkit-linear-gradient(top, #009116, #0ccf57);
    background-image: -moz-linear-gradient(top, #009116, #0ccf57);
    background-image: -ms-linear-gradient(top, #009116, #0ccf57);
    background-image: -o-linear-gradient(top, #009116, #0ccf57);
    background-image: linear-gradient(to bottom, #009116, #0ccf57);
    text-decoration: none;
}

.mgguidecontrol {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.mgguidecontrol:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.mgguidecontrol:active {
	position:relative;
	top:1px;
}
