body {
    margin: 0px;
    background: url(images/img01.gif) repeat-x left top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #444444;
}

h1, h2, h3 {
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    color: #444444;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

p, ul, ol {
    margin-top: 0;
    line-height: 180%;
}

ul, ol {
}

a {
    text-decoration: none;
    color: #FB7600;
}

a:hover {
    background: none;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
    background: url(images/img04.jpg) repeat-y left top;
}

#wrapper .btm {
    background: url(images/img05.gif) no-repeat left bottom;
}

/* Header */

#header {
    width: 100%;
    height: 105px;
    margin: 0 auto;
    background: url(images/img02.jpg) repeat-x left top;
}

/* Logo */

#logo {
    float: left;
    width: 100%;
    color: #000000;
}

#logo h1, #logo p {
}

#logo h1 {
    float: left;
    padding: 30px 0 0 20px;
    margin-right: 10px;
    letter-spacing: -1px;
    font-size: 2.8em;
}

#logo h1 a {
    color: #FF7900;
}

#logo p {
    float: left;
    margin: 44px 0 0 0;
    padding: 3px 10px 3px 0px;
    font: normal 13px Georgia, "Times New Roman", Times, serif;
    font-style: italic;
} 

#logo a {
    border: none;
    background: none;
    text-decoration: none;
    color: #000000;
}



/* Menu */

#menu {
    width: 100%;
    height: 44px;
    background: url(images/img03.jpg) repeat-x left top;
    margin: 0 auto;
    padding: 0;


}

#menu ul {
    margin: 0;
    padding: 13px 0 0 20px;
    list-style: none;
    line-height: normal;

}

#menu li {
    float: left;

}

#menu a {
    display: block;
    margin-right: 3px;
    padding: 5px 20px 7px 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #FFFFFF;
    border: none;

}

#menu a:hover, #menu .current_page_item a {

}

#menu a:hover {
    background: #FF7900;
    text-decoration: none;
}

#menu .first {
    margin-right: 3px;
    background: #FF7900;
}

/* Page */

#page {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}

/* Content */

#content {
    float: right;
    width: 70%;
    padding: 20px 20px 0 0;
}

.post {
    margin-left: 20px;
    padding-bottom: 30px;
}

.post .title {
    padding-left: 10px;
    border-left: 10px solid #F57601;
    color: #000000;
}

.post .title a {
    background: none;
    color: #444444;
    border: none;
}

.post .title a:hover {
    text-decoration: underline;
}

.post .meta {
    background: #E0E0E0;
    border-left: 4px double #F57601;
    border-right: 4px double #F57601;
    padding: 3px 3px 3px 3px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.post .meta .comments,.post .meta .permalink {
}

.post .entry {
    padding: 10px 20px 20px 20px;
    text-align: justify;
}

/* Sidebar */

#sidebar {
    float: left;
    width: 20%;
    padding: 25px 10px 0 20px;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    margin: 0;
    padding: 0;
}

#sidebar li ul {
    padding-bottom: 30px;
}

#sidebar li li {
    line-height: 35px;
    border-bottom: 1px dashed #BCBCBC;
}

#sidebar li li span {
    display: block;
    margin-top: -20px;
    padding: 0;
    font-size: 11px;
    font-style: italic;
    color: #BCBCBC;
}

#sidebar h2 {
    letter-spacing: -.5px;
    color: #444444;
}

#sidebar p {
    padding-bottom: 20px;
    text-align: justify;
}

#sidebar a {
    color: #000000;
    border: none;
}

#sidebar a:hover {
    text-decoration: underline;
    color: #787878;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
    padding: 20px;
}

#calendar table {
    width: 100%;
}

#calendar tbody td {
    text-align: center;
}

#calendar #next {
    text-align: right;
}

/* Footer */

#footer {
    width: 90%;
    height: 20px;
    margin: 0 auto;
    padding: 20px 0 15px 0;
    background: #444444;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

#footer p {
    margin: 0;
    line-height: normal;
    font-size: 10px;
    text-align: center;
}

#footer a {
    color: #FFFFFF;
    border-bottom: 1px #FFFFFF dotted;
}


.row1 {
    background-color: #A8A8A8;
    padding: 1px 1px 1px 1px;
}

.row2 {
    background-color: #C4C4C4;
    padding: 1px 1px 1px 1px;
}

.row3 {
    background-color: #ECECEC;
    padding: 1px 1px 1px 1px;
}

.row4 {
    background-color: #ECECEC;
    padding: 1px;
}

table.sortable.id tbody {
    counter-reset: sortabletablescope;
}
table.sortable.id thead tr::before {
    text-align: center;
    vertical-align: middle;
    content: "ID";
    display: table-cell;
}
table.sortable.id tbody tr::before {
    text-align: center;
    vertical-align: middle;
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
}

div.dhtml_menu div.vert_menu
{
    position: absolute;
    visibility: hidden;
}

div.dhtml_menu div.horz_menu a { display: block; float: left; }
div.dhtml_menu div.vert_menu a { display: block; float: none; }

div.dhtml_menu div.vert_menu
{
    margin-right:  -1px;
    border-bottom: 1px solid #000000;
    z-index: 9999;
}

div.dhtml_menu div.horz_menu a,
div.dhtml_menu div.vert_menu a
{
    height: 20px;
    line-height: 20px;
    text-align: left;
    text-decoration: none;
    color: #000000;
    background-color: #595959;

}

div.dhtml_menu div.horz_menu a
{
    background-color: transparent;
    line-height: 15px;
    height: 15px;

}

div.dhtml_menu div.vert_menu a
{
    margin-bottom: -1px;
    width: 200px;
    border: 1px solid Black;

}

div.dhtml_menu div.horz_menu a:hover,
div.dhtml_menu div.vert_menu a:hover
{
    color: #000000;
    background-color: #595959;

}

div.dhtml_menu div.horz_menu a.parent,
div.dhtml_menu div.vert_menu a.parent
{
    color: #000000;
    background-color: #444444;

}

div.dhtml_menu div.horz_menu a.parent
{
    background-color: transparent;

}

div.dhtml_menu div.horz_menu a.active,
div.dhtml_menu div.vert_menu a.active,
div.dhtml_menu div.horz_menu a.active:hover,
div.dhtml_menu div.vert_menu a.active:hover
{
    color: #000000;
    background-color: #E37E00;

}


.delete_button {
    height: 21px;
    width: 21px;
    border: solid;
    border-width: 0px;
    background-image: url(../delete.gif);	
}


.frrow1	{ background-color: #EFEFEF; }
.frrow2	{ background-color: #DEE3E7; }
.frrow3	{ background-color: #D1D7DC; }

.row4 {
    color: Black;	
}

.paytoday {
    font-size: 120%;
    background-color: #E37E00;
    color: #EFEFEF;
    padding: 2px 2px 2px 2px;
}

.paytoday img {
    width: 16px;
}

.ubButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}.ubButton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}.ubButton:active {
    position:relative;
    top:1px;
}

/* glamour forms =) */

.glamour label {	
    /* font-size: 20px; */
    color: #666; 
    padding-left: 4px;
}

.glamour { 
    float: left;
    border: 1px solid #ddd; 
    padding: 6px 6px 6px 12px; 
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 		
    background: -webkit-gradient(linear, 0% 0%, 0% 40%, from(#EEE), to(#FFFFFF)); 
    background: -moz-linear-gradient(0% 40% 90deg,#FFF, #EEE); 
    -webkit-box-shadow:0px 0 50px #ccc;
    -moz-box-shadow:0px 0 50px #ccc; 
    box-shadow:0px 0 50px #ccc;		 		
}	

.glamour fieldset { border: none; }


/*
.glamour input, textarea { 		
        padding: 4px; 
        margin: 4px 0 20px 0; 
        background: #fff; 
        color: #555; 
        border: 1px #ddd solid;
        -webkit-box-shadow: 0px 0px 4px #aaa;
        -moz-box-shadow: 0px 0px 4px #aaa; 
        box-shadow: 0px 0px 4px #aaa;
        -webkit-transition: background 0.3s linear;							
}
*/

.glamour textarea {		

}

.glamour input:hover, textarea:hover { 
    background: #eee; 
} 

.glamour  legend
{
    float: left;
    color: #000000;
    /* background: #E0E0E0; */
    border: 1px solid #C4C4C4;
    padding: 8px; 
    margin: 8px;
    width: 60%;
} 


/* CaTV Coloring */

.CatvGood {
    background-color: #77a809;
    color: #FFFFFF;
    text-align: center;
}

.CatvGoodLong  {
    background-color: #528009;
    color: #FFFFFF;
    text-align: center;
}


.CatvGood a {
    color: #FFFFFF;
    text-align: center;
}

.CatvBad {
    background-color: #FF0000;
    color: #ffffff;
    text-align: center;
}

.CatvBad a {
    color: #FFFFFF;
    text-align: center;
}

.CatvOnline {
    background-color: #447ECF;
    color: #FFFFFF;
    text-align: center;
}

.CatvOffline {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
}

.siglight {
    font-size: 24px;
    font-weight:bold;

    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FFB914 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FFB914 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FFB914 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #FFFFFF), color-stop(1, #FFB914));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FFB914 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #FFB914 100%);

}

.undone,
.undone div,
.undone span {
    background-color: #f8bb00; 
    border-color: #f8bb00;
    color: #000000;           
}

.dashboard{
    width:100%;
}

.dashtask {
    float: left;
    display: block;
    padding: 10px;
    margin: 5px;
    border:solid 1px #EEE;
    border-radius:10px;
    text-align: center;
    font-size: 8pt;
    overflow: hidden;
    box-shadow: 3px 3px 4px rgba(0,0,0,0);
}

.dashtask:hover {
    -webkit-box-shadow: 3px 3px 4px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 4px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 4px rgba(50, 50, 50, 0.75);

}

.ubimchat {
    float: left;
    display: block;
    padding: 10px;
    margin: 5px;
    border:solid 1px #EEE;
    border-radius:10px;
    text-align: left;
    font-size: 8pt;
    width: 80%;
    height: 400px;
    overflow: auto;
    box-shadow: 3px 3px 4px rgba(0,0,0,0);
}

.todaysig {
    background-color:#528009;
    color: #FFFFFF;
}

.todaysig a{
    color: #EFEFEF;
}

.ui-autocomplete {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

* html .ui-autocomplete {
    height: 100px;
}

/* ukv */
.floatpanels {

    padding: 10px;
    margin: 10px;
    float: left;
    width: 42%;
    border: 1px solid #999;
    background-color: white;


    -webkit-box-shadow: 0px 0px 10px #A0A0A0;
    -moz-box-shadow: 0px 0px 10px #A0A0A0;
    box-shadow: 0px 0px 10px #A0A0A0;
}

.ukvusereditform {
    padding: 10px;
    margin: 10px;
}

.floatpanelswide {

    padding: 10px;
    margin: 10px;
    float: left;
    width: 85%;
    border: 1px solid #999;
    background-color: white;


    -webkit-box-shadow: 0px 0px 10px #A0A0A0;
    -moz-box-shadow: 0px 0px 10px #A0A0A0;
    box-shadow: 0px 0px 10px #A0A0A0;
}

.ukvusereditform input[type="submit"] {
    padding: 6px;
}

.ukvbankstadup {
    background-color: #ffcccc;
}


.sigdeleteduser {
    background-color: #000000;
    color: #FFFFFF;
}

.sigcemeteryuser {
    background-color: #444444;
    color: #FFFFFF;
}


/* Alerts */

.alert_info {
    display: block;
    width: 95%;
    margin: 20px 3% 0 3%;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #B5E5EF url(../icn_alert_info.png) no-repeat;
    background-position: 10px 10px;
    border: 1px solid #77BACE;
    color: #082B33;
    padding: 10px 0;
    text-indent: 40px;
    font-size: 14px;}

.alert_warning {
    display: block;
    width: 95%;
    margin: 20px 3% 0 3%;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #F5F3BA url(../icn_alert_warning.png) no-repeat;
    background-position: 10px 10px;
    border: 1px solid #C7A20D;
    color: #796616;
    padding: 10px 0;
    text-indent: 40px;
    font-size: 14px;}

.alert_error {
    display: block;
    width: 95%;
    margin: 20px 3% 0 3%;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #F3D9D9 url(../icn_alert_error.png) no-repeat;
    background-position: 10px 10px;
    border: 1px solid #D20009;
    color: #7B040F;
    padding: 10px 0;
    text-indent: 40px;
    font-size: 14px;}

.alert_success {
    display: block;
    width: 95%;
    margin: 20px 3% 0 3%;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #E2F6C5 url(../icn_alert_success.png) no-repeat;
    background-position: 10px 10px;
    border: 1px solid #79C20D;
    color: #32510F;
    padding: 10px 0;
    text-indent: 40px;
    font-size: 14px;}


.notificationArea {
    position: absolute;
    float:right;
    top: 10px;
    right: 10px;
    padding-right: 50px;

}

/* login form */

.ubLoginContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    width:500px;
    height:260px;
    margin-left: -250px;
    margin-top: -130px;
}

.ubLoginForm { 
    padding: 30px;
    font-size: 20px; 
    border: 1px solid #ddd; 
    width: 100%;
    background: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 		
    -webkit-box-shadow:0px 0 50px #ccc;
    -moz-box-shadow:0px 0 50px #ccc; 
    box-shadow:0px 0 50px #ccc;	
    background-image: url('../ublogin-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}	



.ubLoginForm input, submit { 		
    padding: 4px; 
    margin: 10px;
    margin-left: 30px;
    width: 220px;
    font-size: 20px; 
    background: #fff; 
    color: #555; 
    border: 1px #ddd solid;
    -webkit-box-shadow: 0px 0px 4px #aaa;
    -moz-box-shadow: 0px 0px 4px #aaa; 
    box-shadow: 0px 0px 4px #aaa;
    -webkit-transition: background 0.3s linear;							
}


.ubLoginForm label {	
    font-size: 20px; 
    color: #666; 
    padding-left: 4px;
}


/* UBIM contactlist */

.ubimcontact {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
    background-color:#f9f9f9;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 71px;
    width: 72px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    color:#777777;
}
.ubimcontact:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
    background-color:#e9e9e9;
    text-decoration: none;
}
.ubimcontact:active {
    position:relative;
    top:1px;
}

.ubimcontact:active {
    position:relative;
    top:1px;
}

.ubimcontact:visited {
    color: #777777;
}

.ubimcontact:link {
    color: #777777;
}        

.wh_viewer td {
    padding: 4px;
}

.donetask {
    background-color: #3366cc;
    color: #ffffff;
}