Этот модуль помогает визуализировать классы трафика, с помощью которых, ядро stargazer может проводить гибкую тарификацию. По умолчанию после установки Ubilling объявлено только нулевое (0) направление, которое включает в себя учет 0.0.0.0/0, то есть всего Интернет трафика. То есть, как минимум, нужно создать правило, например, с именем "Интернет" и номером 0.