.glamforge {
    width: 95%;
    margin-left: 12px;
    font-family: Arial, sans-serif;
    font-size: 17px;
}

.glamforge label {
    display: inline-block;
    margin-left: 8px;
    font-size: 17px;
}

.glamforge input,
.glamforge select {
    padding: 6px;
    font-size: 16px;
    margin-bottom: 10px;
}

.glamforge input[type="checkbox"] {
    transform: scale(1.3);
    margin-bottom: 10px;
}

.glamforge input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 18px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.glamforge input[type="submit"]:hover {
    background-color: #45a049;
}
