.ui-menu .ui-menu-item {
    margin: 0 !important;
}

.sphinxsearch-input {

}

.sphinxsearch-input-loading {
    background: white url("ui-anim_basic_16x16.gif") left center no-repeat ! important;
    background-position: 10px 6px ! important;
}

.sphinxsearchcontainer {
    background-color: #fefefe;
    opacity: 1;
    top: 133px;
    left: 20.8906px;
    width: 394px;
    text-align: left;

    -webkit-box-shadow: 4px 6px 17px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: 4px 6px 17px 0px rgba(0,0,0,0.38);
    box-shadow: 4px 6px 17px 0px rgba(0,0,0,0.38);

    border-style: solid;
    border-width: 1px;
    border-color: #dcd7d7;
}


.sphinxsearchcontainer a {
    display : block !important;
    position: relative !important;
    padding: 5px  !important;
    margin: 0 !important;
}

.sphinxsearchcontainer a:hover {
    text-decoration: none !important;
    background-color: #f2f2f2;
    color: #000000 !important;
}

/* Dark mode */
.darkmode--activated .sphinxsearchcontainer {
    background-color: #222222;
    color: #f2f2f2  !important;
}

.darkmode--activated  .sphinxsearchcontainer a:hover {
    text-decoration: none !important;
    background-color: #fefefe;
    color: #000000 !important;
}

.ui-menu-item.active {
    background-color: #dbdada;
    color: #000000 !important;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    margin-right: 6px !important;
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
