.cvlanMatrixContainer {
    position: relative;
    padding: 10px 2px 10px 2px;
    border: solid 2px black;
    min-width: 35px;
    text-align: center;
    display: inline-block;
    margin-right: 8px; 
    margin-bottom: 6px;
    font-size: 15px;
    font-weight: 600;

}

.port_caption {
    display: inline-block;
    position: absolute;
    font-size: 9px;
    top: 1px;
    left: 2px;
}

.free_vlan {
    background-color: #9dd3a8;    
}

.free_vlan:hover {
    background-color: #61b872;     
}

.occupied_customer {    
    border-color: #FF7400;      
    background-color: #f4f0e6;    
}

.occupied_customer:hover {
    background-color: #d8caa6;    
}

.occupied_switch {
    border-color: #1240AB;       
    background-color: #d9d9f3;    
}

.occupied_switch:hover {
    background-color: #8b8bda;    
}

.occupied_switch_with_customer {
    border-color: #1240AB;       
    background-color: #ceefe4;    
}

.occupied_switch_with_customer:hover {
    background-color: #8bdac0;    
}

.occupied_olt {
    border-color: #1240AB;       
    background-color: #b1b1e7;    
}

.occupied_olt:hover {
    background-color: #8b8bda;    
}

.occupied_olt_with_customer {
    border-color: #1240AB;       
    background-color: #c5ecdf;    
}
.occupied_olt_with_customer:hover {
    background-color: #77d4b5;    
}