.cvlanMatrixContainer {
    padding: 8px;
    border: solid 2px black;
    min-width: 45px;
    text-align: center;
    display: inline-block;
    margin-right: 10px; 
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

.free {
    background-color: #00CC00;    
}

.occupied_customer {
    background-color: #FF7400;
    color: white;
}

.occupied_switch {
    background-color: #1240AB;
    color: white;
}