.cvlanMatrixContainer {
    padding: 8px;
    border: solid 2px black;
    min-width: 45px;
    text-align: center;
    display: inline-block;
    margin-right: 10px; 
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    
}

.free_vlan {
    background-color: #9dd3a8;    
}

.occupied_customer {    
    border-color: #FF7400;      
    background-color: #f4f0e6;    
}

.occupied_switch {
    border-color: #1240AB;       
    background-color: #d9d9f3;    
}