/* Ubilling specific styles */
.row1 {
    background-color: #dadada;
    padding: 1px 1px 1px 1px;
}

.row2 {
    background-color: #e1e1e1;
    padding: 1px 1px 1px 1px;
}

.row3 {
    background-color: #ECECEC;
    padding: 1px 1px 1px 1px;
}

.row4 td {
    height: 25px;
}

.row4 {
    background-color: #ECECEC;
    padding: 1px;
    font-size: 13px;
}

.ChosenOne {
    background-color: #CDB38B;
}

table.sortable.id tbody {
    counter-reset: sortabletablescope;
}
table.sortable.id thead tr::before {
    text-align: center;
    vertical-align: middle;
    content: "ID";
    display: table-cell;
}
table.sortable.id tbody tr::before {
    text-align: center;
    vertical-align: middle;
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
}


:root .vlanLabel option,
:root .vlanLabel:after,
:root .vlanLabel::after,
:root .vlanLabel .vlanSelector
{
    color: #fff;
}

:root .vlanLabel .vlanSelector,
:root .vlanLabel:after,
:root .vlanLabel::after
{
    display: block;
    background: #6b6d6e;
    background-image: -webkit-linear-gradient(top, #6b6d6e, #2d688c);
    background-image: -moz-linear-gradient(top, #6b6d6e, #2d688c);
    background-image: -ms-linear-gradient(top, #6b6d6e, #2d688c);
    background-image: -o-linear-gradient(top, #6b6d6e, #2d688c);
    background-image: linear-gradient(to bottom, #6b6d6e, #2d688c);
}

:root .vlanLabel .vlanSelector,
:root .vlanLabel option
{
    padding: 8px;
}

:root .vlanLabel
{
    position: relative;
    display: inline-block;
    border: 0;
}

:root .vlanLabel::after
{
    content: "\25bc";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 32px;
    font-size: 12px;
    line-height: 34px;
    text-align: center;

    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}

:root .vlanLabel .vlanSelector
{
    height: 34px;
    border: 0;
    vertical-align: middle;
    font: normal 12px/14px "Segoe UI", Arial, Helvetica, Sans-serif;
    outline: 0 none;
}

:root .vlanLabel option
{
    background: #fff;
    color: #333;
}

.vlanButton {
    background: #6b6d6e;
    background-image: -webkit-linear-gradient(top, #6b6d6e, #2d688c);
    background-image: -moz-linear-gradient(top, #6b6d6e, #2d688c);
    background-image: -ms-linear-gradient(top, #6b6d6e, #2d688c);
    background-image: -o-linear-gradient(top, #6b6d6e, #2d688c);
    background-image: linear-gradient(to bottom, #6b6d6e, #2d688c);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 40%;
}

.vlanButton:hover {
    background: #a8abad;
    background-image: -webkit-linear-gradient(top, #a8abad, #569ac7);
    background-image: -moz-linear-gradient(top, #a8abad, #569ac7);
    background-image: -ms-linear-gradient(top, #a8abad, #569ac7);
    background-image: -o-linear-gradient(top, #a8abad, #569ac7);
    background-image: linear-gradient(to bottom, #a8abad, #569ac7);
    text-decoration: none;
}

div.dhtml_menu div.vert_menu
{
    position: absolute;
    visibility: hidden;
}

div.dhtml_menu div.horz_menu a { display: block; float: left; }
div.dhtml_menu div.vert_menu a { display: block; float: none; }

div.dhtml_menu div.vert_menu
{
    margin-right:  -1px;
    border-bottom: 1px solid #000000;
    z-index: 9999;
}

div.dhtml_menu div.horz_menu a,
div.dhtml_menu div.vert_menu a
{
    height: 20px;
    line-height: 20px;
    text-align: left;
    text-decoration: none;
    color: #000000;
    background-color: #595959;

}

div.dhtml_menu div.horz_menu a
{
    background-color: transparent;
    line-height: 15px;
    height: 15px;

}

div.dhtml_menu div.vert_menu a
{
    margin-bottom: -1px;
    width: 200px;
    border: 1px solid Black;

}

div.dhtml_menu div.horz_menu a:hover,
div.dhtml_menu div.vert_menu a:hover
{
    color: #000000;
    background-color: #595959;

}

div.dhtml_menu div.horz_menu a.parent,
div.dhtml_menu div.vert_menu a.parent
{
    color: #000000;
    background-color: #444444;

}

div.dhtml_menu div.horz_menu a.parent
{
    background-color: transparent;

}

div.dhtml_menu div.horz_menu a.active,
div.dhtml_menu div.vert_menu a.active,
div.dhtml_menu div.horz_menu a.active:hover,
div.dhtml_menu div.vert_menu a.active:hover
{
    color: #000000;
    background-color: #E37E00;

}


.delete_button {
    height: 21px;
    width: 21px;
    border: solid;
    border-width: 0px;
    background-image: url(../delete.gif);	
}


.frrow1	{ background-color: #EFEFEF; }
.frrow2	{ background-color: #DEE3E7; }
.frrow3	{ background-color: #D1D7DC; }

.row4 {
    color: Black;	
}

.paytoday {
    font-size: 120%;
    background-color: #E37E00;
    color: #EFEFEF;
    padding: 2px 2px 2px 2px;
}

.paytoday img {
    width: 16px;
}

.ubButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
    color:#777777;
}

.ubButton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
    text-decoration: none;
    color: #777777;
}

.ubButton:active {
    position:relative;
    top:1px;
}

.ubButton:visited {
    color: #777777;
}

.ubButton:link {
    color: #777777;
}

/* glamour forms =) */

.glamour label {	
    /* font-size: 20px; */
    color: #666; 
    padding-left: 4px;
}

.glamour { 
    float: left;
    border: 1px solid #ddd; 
    padding: 6px 6px 6px 12px; 
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 		
    background: -webkit-gradient(linear, 0% 0%, 0% 40%, from(#EEE), to(#FFFFFF)); 
    background: -moz-linear-gradient(0% 40% 90deg,#FFF, #EEE); 
    -webkit-box-shadow:0px 0 50px #ccc;
    -moz-box-shadow:0px 0 50px #ccc; 
    box-shadow:0px 0 50px #ccc;		 		
}	

.glamour fieldset { border: none; }


.glamour textarea {		

}

.glamour input:hover, textarea:hover { 
    background: #eee; 
} 

.glamour  legend
{
    float: left;
    color: #000000;
    /* background: #E0E0E0; */
    border: 1px solid #C4C4C4;
    padding: 8px; 
    margin: 8px;
    width: 60%;
} 


/* CaTV Coloring */

.CatvGood {
    background-color: #77a809;
    color: #FFFFFF;
    text-align: center;
}

.CatvGoodLong  {
    background-color: #528009;
    color: #FFFFFF;
    text-align: center;
}


.CatvGood a {
    color: #FFFFFF;
    text-align: center;
}

.CatvBad {
    background-color: #FF0000;
    color: #ffffff;
    text-align: center;
}

.CatvBad a {
    color: #FFFFFF;
    text-align: center;
}

.CatvOnline {
    background-color: #447ECF;
    color: #FFFFFF;
    text-align: center;
}

.CatvOffline {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
}

.siglight {
    font-size: 24px;
    font-weight:bold;

    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FFB914 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FFB914 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FFB914 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #FFFFFF), color-stop(1, #FFB914));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FFB914 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #FFB914 100%);

}

.undone,
.undone div,
.undone span {
    background-color: #f8bb00; 
    border-color: #f8bb00;
    color: #000000;           
}

.donetask {
    background-color: #3366cc;
    color: #ffffff;
}

.dashboard{
    width:100%;
}

.dashtask {
    float: left;
    display: block;
    padding: 10px;
    margin: 5px;
    border:solid 1px #EEE;
    border-radius:10px;
    text-align: center;
    font-size: 8pt;
    overflow: hidden;
    box-shadow: 3px 3px 4px rgba(0,0,0,0);
    line-height: 100%;
}

.dashtask:hover {
    -webkit-box-shadow: 3px 3px 4px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 4px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 4px rgba(50, 50, 50, 0.75);

}

.ubimchat {
    float: left;
    display: block;
    padding: 10px;
    margin: 5px;
    border:solid 1px #EEE;
    border-radius:10px;
    text-align: left;
    font-size: 8pt;
    width: 80%;
    height: 400px;
    overflow: auto;
    box-shadow: 3px 3px 4px rgba(0,0,0,0);
}

.todaysig {
    background-color:#528009;
    color: #FFFFFF;
}

.todaysig a{
    color: #EFEFEF;
}

.ui-autocomplete {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

* html .ui-autocomplete {
    height: 100px;
}

/* ukv */
.floatpanels {

    padding: 10px;
    margin: 10px;
    float: left;
    width: 42%;
    border: 1px solid #999;
    background-color: white;


    -webkit-box-shadow: 0px 0px 10px #A0A0A0;
    -moz-box-shadow: 0px 0px 10px #A0A0A0;
    box-shadow: 0px 0px 10px #A0A0A0;
}

.ukvusereditform {
    padding: 10px;
    margin: 10px;
}

.floatpanelswide {

    padding: 10px;
    margin: 10px;
    float: left;
    width: 85%;
    border: 1px solid #999;
    background-color: white;


    -webkit-box-shadow: 0px 0px 10px #A0A0A0;
    -moz-box-shadow: 0px 0px 10px #A0A0A0;
    box-shadow: 0px 0px 10px #A0A0A0;
}

.ukvusereditform input[type="submit"] {
    padding: 6px;
}

.ukvbankstadup {
    background-color: #ffcccc;
}


.sigdeleteduser {
    background-color: #000000;
    color: #FFFFFF;
}

.sigcemeteryuser {
    background-color: #444444;
    color: #FFFFFF;
}

/* Alerts */

.alert_info {
    display: block;
    width: 95%;
    margin: 20px 3% 0 3%;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #B5E5EF url(../../icn_alert_info.png) no-repeat;
    background-position: 10px 10px;
    border: 1px solid #77BACE;
    color: #082B33;
    padding: 10px 0;
    text-indent: 40px;
    font-size: 14px;}

.alert_warning {
    display: block;
    width: 95%;
    margin: 20px 3% 0 3%;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #F5F3BA url(../../icn_alert_warning.png) no-repeat;
    background-position: 10px 10px;
    border: 1px solid #C7A20D;
    color: #796616;
    padding: 10px 0;
    text-indent: 40px;
    font-size: 14px;}

.alert_error {
    display: block;
    width: 95%;
    margin: 20px 3% 0 3%;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #F3D9D9 url(../../icn_alert_error.png) no-repeat;
    background-position: 10px 10px;
    border: 1px solid #D20009;
    color: #7B040F;
    padding: 10px 0;
    text-indent: 40px;
    font-size: 14px;}

.alert_success {
    display: block;
    width: 95%;
    margin: 20px 3% 0 3%;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #E2F6C5 url(../../icn_alert_success.png) no-repeat;
    background-position: 10px 10px;
    border: 1px solid #79C20D;
    color: #32510F;
    padding: 10px 0;
    text-indent: 40px;
    font-size: 14px;}


/* login form */

.ubLoginContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    width:500px;
    height:260px;
    margin-left: -250px;
    margin-top: -130px;

}

.ubLoginForm { 
    padding: 30px;
    font-size: 20px; 
    border: 1px solid #ddd; 
    width: 100%;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 		
    background: -webkit-gradient(linear, 0% 0%, 0% 40%, from(#EEE), to(#FFFFFF)); 
    background: -moz-linear-gradient(0% 40% 90deg,#FFF, #EEE); 
    -webkit-box-shadow:0px 0 50px #ccc;
    -moz-box-shadow:0px 0 50px #ccc; 
    box-shadow:0px 0 50px #ccc;	
    background-image: url('../../ublogin-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}	



.ubLoginForm input, submit { 		
    padding: 4px; 
    margin: 10px;
    margin-left: 30px;
    width: 220px;
    font-size: 20px; 
    background: #fff; 
    color: #555; 
    border: 1px #ddd solid;
    -webkit-box-shadow: 0px 0px 4px #aaa;
    -moz-box-shadow: 0px 0px 4px #aaa; 
    box-shadow: 0px 0px 4px #aaa;
    -webkit-transition: background 0.3s linear;							
}


.ubLoginForm label {	
    font-size: 20px; 
    color: #666; 
    padding-left: 4px;
}


.notificationArea {
    float: left;
    padding-left: 10px;
    padding-top: 10px;
}

.notificationArea a {
    color: #666;
}

.notificationArea a:hover {
    text-decoration: none;
}

.notificationArea img{
    float: left;
    padding-left: 10px;
    padding-right: 5px;
}


/* responsive release info */
@media only screen and (max-width: 1000px) {
    .ubverinfo {
        display: none;
    }

    .ubproductname {
        font-size: 12pt;
    }
}

@media only screen and (max-width: 800px) {
    .ubproductname {
        display: none;
    }

    .user p{
        display: none;
    }


}

/* UBIM contactlist */

.ubimcontact {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
    background-color:#f9f9f9;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 71px;
    width: 72px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    color:#777777;
}
.ubimcontact:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
    background-color:#e9e9e9;
    text-decoration: none;
}
.ubimcontact:active {
    position:relative;
    top:1px;
}

.ubimcontact:active {
    position:relative;
    top:1px;
}

.ubimcontact:visited {
    color: #777777;
}

.ubimcontact:link {
    color: #777777;
}

.wh_viewer td {
    padding: 4px;
}

.ukvassignnamerow {
    background-color: #fdeb70;
}

.ukvassignaddrrow {
    background-color: #b5fdb8;
}
