table.sortable {
    border-width: 1px;
    border-spacing: 2px;
    border-style: outset;
    border-color: gray;
    border-collapse: separate;
    background-color: white;
}

table.sortable th {
    border-width: 1px;
    padding: 1px;
    border-style: dashed;
    border-color: gray;
    background-color: white;
    -moz-border-radius: 1px;
}

table.sortable td {
    border-width: 1px;
    padding: 1px;
    border-style: dotted;
    border-color: gray;
    -moz-border-radius: 1px;
}

.row1 {
    font-weight:bolder;
    background-color: #000000;
    color: #FFFFFF;
}

table.printable {
    border-width: 1px;
    border-spacing: 2px;
    border-style: outset;
    border-color: gray;
    border-collapse: separate;
    background-color: white;
}

table.printable th {
    border-width: 1px;
    padding: 1px;
    border-style: dashed;
    border-color: gray;
    background-color: white;
    -moz-border-radius: 1px;
}

table.printable td {
    border-width: 1px;
    padding: 1px;
    border-style: dotted;
    border-color: gray;
    -moz-border-radius: 1px;
}
