body {
	background-color:	white;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	margin:				0px;
	border:				0px;
	padding:			0px;
}

p {
	font-size:	8pt;
}

h1 {
	font:			bold 18pt 'Trebuchet MS', Verdana, sans-serif;
	text-decoration:none; 
	line-height:	120%; 
}

h2 {
	font:			bold 12pt Arial, Helvetica, sans-serif;
	text-decoration:none; 
	line-height:	120%; 
}

a:link, a:active, a:visited { color: #006699; text-decoration: none; }
a:hover { color: #DD6900; text-decoration: underline; }

a.th:link { color: #FFA34F; text-decoration: none; }
a.th:active { color: #FFA34F; text-decoration: none; }
a.th:visited { color: #FFA34F; text-decoration: none; }
a.th:hover {  color: #FFA34F; text-decoration: underline; }

table.bg {
	background-color: #ACBBC6
}

th, td { 
	font:	normal 8pt Verdana, Arial, Helvetica, sans-serif;
}

th	{
	height:				25px;
	background-color:	#006699;
	color:				#FFA34F;
	font-weight:		bold;
	font-size:			11px;
}

hr	{ 
	height:				0px; 
	border:				solid #D1D7DC 0px; 
	border-top-width:	1px;
}

.row1 {
	background-color:	#EFEFEF;
}

.row2 {
	background-color:	#DEE3E7;
}

.row3 {
	background-color:	#D1D7DC;
}

.messagebox-top {
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	background-color: #EFEFEF;
	border: 1px solid black;
	border-bottom: 0px solid black;
}

.messagebox-bottom {
	font-size: 7pt;
	font-weight: bold;
	text-align: center;
	background-color: #DEE3E7;
	border: 1px solid black;
	border-top: 0px solid black;
}

form{
	margin-bottom: 0;
	margin-top: 0;
}

input {
	text-indent: 2px;
}

textarea, select{
	border: 1px solid; 
}

input, textarea, select {
	color: black;
	font: normal 8pt Verdana, Arial, Helvetica, sans-serif;
	border-color: black;
}

input.text {
	font-family: 'Courier New', courier;
}

textarea {
	font: 9pt 'Courier New', courier;
	line-height: 125%;
}

.btnmain {
	background-color: #FAFAFA;
	font-weight: bold;
	border-width: 1px;
}

.btnlite {
	background-color: #FAFAFA;
	font-weight: normal;
	border-width: 1px;
}
