body {
	margin: 0px;
	padding: 0px;
	color: #666;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.5em; 
	background-color: #cccccc;
	background-image: url(images/templatemo_body.jpg);
	background-repeat: repeat-x;
	background-position: top;
}

a, a:link, a:visited { color: #06C; text-decoration: none; }
a:hover { color: #C00; text-decoration: underline; }

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }

h1, h2, h3, h4, h5, h6 { color: #000; }
h1 { font-size: 40px; font-weight: normal; margin: 0 0 30px 0; padding: 5px 0; }
h2 { font-size: 28px; font-weight: normal; margin: 0 0 30px 0; color: #d20000; font-weight: normal; }
h3 { font-size: 20px; margin: 0 0 15px 0; padding: 0; padding: 0; font-weight: normal;  }
h4 { font-size: 18px; margin: 0 0 15px 0; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px 0; padding: 0; }
h6 { font-size: 14px; margin: 0 0 5px 0; padding: 0; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }
.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }


.float_l { float: left; }
.float_r { float: right; }

.image_wrapper { display: inline-block; border: 1px solid #ccc; background: #fff; padding: 4px; margin-bottom: 10px; }
.image_fl { float: left; margin: 3px 15px 0 0; }
.image_fr { float: right; margin: 3px 0 0 15px; }

blockquote { font-style: italic; margin: 0 0 0 10px;}
cite { font-weight: bold; color:#333; }
cite span { color: #666; }
em { color: #000; }

.tmo_list { margin: 20px 0 20px 20px; padding: 0; list-style: none; }
.tmo_list li { background: transparent url(images/templatemo_list.png) no-repeat; margin:0 0 20px; padding: 0 0 0 20px; 	line-height: 1em; }
.tmo_list li a { color: #fff; }
.tmo_list li a:hover { color: #ff4301; }

.btn_more a {
	float: right;
	display: block;
	font-weight: bold;
	color: #333;
	text-align: center;
}

.btn_more a span {
	font-size: 16px;
}

.btn_more a:hover {
	color: #cc0000;
	text-decoration: none;
}

.hr_divider {
	clear: both;
	padding-bottom: 40px;
	margin-bottom: 40px;
	background: url(css/images/templatemo_hr_divider.png) bottom repeat-x;	
}

#templatemo_wrapper {
	width: 940px;
	padding: 10px;
	margin: 0 auto;
}

#templatemo_top {
	width: 100%;
	height: 40px;
	margin-bottom: 40px;
}

#social_box { float: right; display: inline-block; margin: 8px 0 0; padding: 0; list-style: none; }
#social_box li { display: block; float: left; padding: 0; margin: 0; }
#social_box li a { width: 24px; height: 24px; margin-right: 5px; }

#signup_form {  padding: 0; }
#signup_form form { margin: 0px; padding: 0px; }
#signup_form form .input_field {  padding: 5px 0; background: #fff; border: 1px solid #dfdfdf; }
#signup_form form .label_line { display: inline; width: 100px; margin-right: 10px; font-size: 14px; }
#signup_form form label { display: block; width: 100px; margin-right: 10px; font-size: 14px; }
#signup_form form textarea { width: 540px;  height: 80px;	background: #fff; 	border: 1px solid #dfdfdf; }

#signup_form form .submit_button { 
	color: #666;
	background: #FFF;
	border: 1px solid #CCC;
	padding: 8px 18px;
	font-weight: bold;
}


.col_w240 {
	float: left;
	width: 240px;
	margin-right: 60px;
}

.col_w540 {
	float: left;
	width: 540px;
	margin-right: 60px;
}

.last_col {
	margin-right: 0;
}

/* footer */
#templatemo_footer {
	width: 940px;
	font-size: 11px;
	text-align: center;
	color: #777;
	background: url(images/templatemo_footer.jpg) top no-repeat;
	padding: 30px 0 10px 0;
}

#templatemo_footer a { color: #444; }
/* end of footer */
