body {
	background-color:#eee;
}
.container {
	max-width:600px;
	margin:50px auto;
	background-color:#FFF;
	padding:10px;
	border-radius:4px;
	border:1px solid #ccc;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
	-mox-box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
	font-size:13px;
}
h1 {
	font-family:arial rounded mt bold,sans-serif;
	margin:0;
	text-align:center;
	color:#333;
	font-size:30px;
	padding-bottom:20px;
}
label {
	display:inline-block;
	font-size:13px;
	width:120px;
}
input[type=text], input[type=email], input[type=password], .fakeinput {
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: inset 0px 0px 5px rgba(0,0,0,0.1);
	-mox-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.1);
	display: inline-block;
	font-size: 13px;
	margin: 5px;
	padding: 5px 10px;
	width: 240px;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
	border-color: #01AEF0;
	outline: none;
}
.feedback {
	width:190px;
	display:inline-block;
	vertical-align:middle;
	padding-left:10px;
}
#feedback {
	margin:5px 0;
	border-radius:4px;
	border:1px solid #ccc;
	padding:10px;
	font-family:Courier New;
	font-size:16px;
}
.blocklist {
    list-style: none;
    padding: 0;
    font-size: 0;
}
.blocklist li {
    display: inline;
}
.blocklist li a {
    font-size: 14px;
    text-decoration: none;
    color: #333;
    display: inline-block;
    width: 258px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
}
.blocklist li a:hover {
    background-color:#f3f3f3;
}
