Цей модуль допомагає візуалізувати класи трафіку, з допомогою яких, ядро stargazer може проводити гнучку тарифікацію. За замовчуванням після установки Ubilling оголошено тільки нульовий (0) напрямок, що включає в себе облік 0.0.0.0/0, тобто всього Інтернет трафіку. Тобто, як мінімум, потрібно створити правило, наприклад, з іменем "Інтернет" та номером 0.